name: CI

on:
  push:
    branches:
      - master
  pull_request:
    types: [opened, synchronize, reopened]
    branches:
      - master

jobs:
  test:
    name: Test
    runs-on: ubuntu-latest-64
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Install stable toolchain
        uses: dtolnay/rust-toolchain@v1
        with:
          toolchain: stable
          components: rustfmt, clippy

      - name: Setup cache
        uses: Swatinem/rust-cache@v2

      - name: Check format
        run: cargo fmt --all --check

      - name: Clippy
        run: cargo clippy --all-features -- -D warnings

      - name: Run tests
        run: cargo test

      - name: Run integration tests
        continue-on-error: true
        run: cargo test --features integration-tests
